@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Karla&display=swap');
:root{
    /* text color */
    --color-primary:#c53d13;
    --color-teritary:#323021;
    --color-secondary:#f3d8d0;
    --text-light:#fefcfd;
    --text-dark:#323031;
    --body-bg:#f9f1f3;

    /* font size */
    --font-size-300:1.2rem;
    --font-size-400:1.35rem;
    --font-size-500:1.5rem;
    --font-size-600:1.60rem;
    --font-size-700:1.85rem;
    --font-size-800:2rem;
    --font-size-1000:2.5rem;

    /* font families */
    --font-family-c:'Cinzel', serif;
    --font-family-k:'Karla', sans-serif;
 
    /* padding sizes */
    --padding-300:1rem;
    --padding-400:1.25rem;
    --padding-500:1.5rem;
    --padding-600:1.75rem;
    --padding-700:2rem;
    --padding-800:2.25rem;
    --padding-900:3rem;
    --padding-1000:4rem;
}
/* css reset */
html, body, div,article, aside,footer, 
header,h1, h2, h3, h4, h5, h6, p,nav{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
ul{
  margin:0;
  padding:0;    
}
html{
  font-size:62.5%;
}
body {
  line-height:1;
}
article,aside,footer,header,nav,section {
  display:block;
}
nav ul {
  list-style:none;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
ol, li{
  list-style:none;
}
picture, img{
  width:100%;
  height:100%;
}
figure{
  margin:0;
}
/* utility classes */
.socials{
    width:24px;
    height:24px;
}
.cta{
    min-height:6.4rem;
    font-family:var(--font-family-c);
    font-size:clamp(1.5rem, 4vw, 2rem);
    border-radius:8px;
    border:none;
}
.cta .socials{
    margin-right:1.6rem;
    color:var(--color-primary);
}
.heading{
    font-family:var(--font-family-c);
    font-size:clamp(2.4rem, 7vw, 3.6rem);
    color:var(--color-primary);

}
.paragraph{
    font-family:var(--font-family-k);
    font-size:clamp(1.6rem, 4.5vw, 2rem);
    line-height:1.6em;
    color:var(--text-dark);
}
/* main styling */
*{
    box-sizing:border-box;
}
body{
    max-width:100%;
    max-height:100%;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
#wrapper{
    max-width:100vw;
    min-height:100vh;
    display:grid;
    grid-template-rows:auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
    background-color:var(--body-bg);
}
#header{
    grid-area:header;
    padding:var(--padding-800) 0 0;
    min-height:100vh;
    position: relative;
}
.fixed-top{
    background-color:var(--body-bg);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.nav-item .nav-link{
    font-family:var(--font-family-k);
    font-size:var(--font-size-800);
    color:var(--text-light);
}
.main-nav{
    background-color:var(--color-primary);
    min-height:12rem;
    text-align:center;
    justify-content:center;
    row-gap:var(--padding-300);
}
.top-header, .bottom-header{
    width:100%;
}
.top-header{
    padding:0 var(--padding-600);
    z-index:2;
    position:relative;
}
.top-header .logo{
    height:11rem;
}
.bottom-header{
    flex:1;
    position:absolute;
    inset:0;
    height:100%;
    z-index:1;
}
.bottom-header > div{
    height:100%;
}
.bottom-header .row{
    width:100%;
}
.hero-content, .hero-img{
    height:100%;
}
.hero-content{
    z-index:3;
    text-align:center;
    justify-content:center;
}
/* .hero-content > *{
    justify-self:center;
} */
.hero-content>div{
    width:35rem;
    margin-top:13.5rem;
}
.hero-content .main-text{
    font-family:var(--font-family-c);
    font-size:clamp(4rem, 6vw, 5.6rem);
    line-height:1.4em;
    letter-spacing:0.08em;
}
.colored{
    color:var(--color-primary);
    font-weight:bolder;
}
.hero-content .main-text,
.hero-content .hero-paragraph{
    margin-bottom:var(--padding-800);
    color:var(--text-light);
}

.hero-content .hero-paragraph{
    font-family:var(--font-family-k);
    font-size:clamp(1.6rem, 4vw, 2rem);
    line-height:1.6em;
}
.hero-cta{
    width:32.6rem;
    background-color:var(--color-primary);
    color:var(--text-light);
}
.hero-img{
    background: linear-gradient(0deg, rgba(128, 0, 32, 0.24), rgba(128, 0, 32, 0.24)),
                url("./images/Hero\ image.jpg") no-repeat center;
    position:absolute;
    background-size:cover;
}
.hero{
    height:100%;
    object-fit:cover;
}
/* about section styling */
#main-container{
    max-width:100vw;
    grid-area:main;
}
#about{
    flex-direction:column;
    row-gap:3rem;
    width:100%;
    padding:clamp(5.2rem, 8vw, 10.4rem) clamp(4rem, 5vw, 6.4rem);
    background:var(--color-secondary);
}
.about-img, .about-content{
    flex:1;
}
.about-content{
    row-gap:var(--padding-800);
    order:2;
}
.about-cta{
    width:100%;
    background-color:transparent;
    border:1px solid var(--color-primary);
    color:var(--color-primary);
    white-space: pre-line;
}
.about-img{
    order:1;
}
.about-img img{
    min-height:25rem;
    object-fit:cover;
}
/* product page style */
#products{
    min-height:100vh;
}
.product-div{
    min-height:51.2rem;
    position:relative;
    background-blend-mode:darken;
    display:grid;
    place-items:center;
}
.img-1{
    background:url("./images/Cornrows.jpg") no-repeat;
    background-size:cover;
    background-position:center;
}
.img-2{
    background:url("./images/Twists.jpg") no-repeat;
    background-size:cover;
    background-position:center;
}
.img-3{
    background:url("./images/Faux\ locs.jpg") no-repeat;
    background-size:cover;
    background-position:center;
}
.img-4{
    background:url("./images/Box\ braids.jpg") no-repeat;
    background-size:cover;
    background-position:center;
}
.bg-overlay{
    width:fit-content;
    background:rgba(50, 48, 49, 0.24);
    backdrop-filter:blur(4px);
}
.product-details{
    font-family:var(--font-family-c);
    font-size:3.2rem;
    color:#fff;
}
#testimonies{
    padding-top:clamp(5.2rem, 5vw, 10.4rem);
    display:grid;
    place-items:center;
}
.testimony-container{
    max-width:95.2rem;
}
.testimony-container .carousel{
    padding:0 0.8rem;
}
.carousel-inner{
    z-index:3;
}
.testimony-card{
    display:flex;
    flex-direction:column;
    width:100%;
    min-height:28rem;
    margin-top:4rem;
    align-items:center;
    background:var(--color-secondary);
}
.testimony-content{
    margin-top:var(--padding-600);
    flex:1;
    order:2;
    text-align:center;
    padding:0 0.8rem;
}
.testimony-content .customer{
    margin-top:var(--padding-600);
    color:var(--text-dark);
    font-weight:700;
    font-size:2rem;
    text-transform:uppercase;
    font-family:var(--font-family-k);
}
.testimony-img{
    width:10rem;
    height:10rem;
    margin-top:var(--padding-500);
    order:1;
}
.testimony-img img{
    width:100%;
    height:100%;
    border-radius:50%;
    object-fit:cover;
}
/* .carousel-control-prev,
.carousel-control-next{
    visibi;
} */
#gallery{
    display:flex;
    flex-direction:column;
    row-gap:0.8rem;
    padding-top:clamp(5.2rem, 10vw, 10.4rem);
    padding-left:0.8rem;
    padding-right:0.8rem;
}
.gallery-div{
    width:100%;
    padding: 4rem 0;
    height:30rem;
    background:var(--color-secondary);
    align-items:center;
    justify-content:space-between;
}
.gallery-btn{
    width:26.3rem;
    background:transparent;
    color:var(--color-primary);
    border:1px solid var(--color-primary);
}
.gallery-img img{
    object-fit:cover;
    height:100%;
    width:100%;
}
.flex-item-2{
    order:1;
}
.flex-item-1{
    order:2;
}
.flex-item-3{
    order:3;
}
.flex-item-1,
.flex-item-2,
.flex-item-3{
    display:flex;
    flex-direction:column;
    row-gap:0.8rem;
}
#contact{
    min-height:100vh;
    padding:clamp(5.3rem, 9vw, 10.4rem) clamp(5.8rem, 9vw, 1.16rem);

}
.contact-container{
    width: 100%;
    display:flex;
    flex-direction:column;
    row-gap:2rem;
    align-items:center;
}

.contact-paragraph{
    text-align:center;
    display:flex;
    flex-direction:column;
    row-gap:0.8rem;
}
.contact-btn{
    width:100%;
    background:var(--color-primary);
    padding:0 var(--padding-300);
    color:var(--text-light);
}
.sub-heading{
    font-family:var(--font-family-c);
    font-size:2rem;
    color:#270c04;
}
#footer{
    grid-area:footer;
    display:flex;
    align-items:center;
    justify-content:center;
    height:11.25rem;
    background:var(--color-secondary);
}

/* desktop view media query */
@media screen and (min-width:1024px) and (max-width:1440px){
    #header{
        padding:var(--padding-1000) 6.4rem 0;
    }
    .fixed-top .main-nav{
        align-items:center;
    }
    .main-nav{
        background-color:transparent;
    }
    .nav-item .nav-link{
        color:var(--color-teritary);
    }
    .hero-content{
        justify-content:flex-start;
    }
    .hero-content>div{
        width:50rem;
        margin-left:6.4rem;
        margin-top:13.5rem;
        text-align:left;
    }
    .hero-content .main-text,
    .hero-content .hero-paragraph{
        color:var(--text-dark);
        margin-bottom:var(--padding-1000);
    }
    .colored{
        color:var(--color-primary);
    }
    .hero-img{
        background:linear-gradient(0deg, rgba(128, 0, 32, 0.08), rgba(128, 0,32, 0.08)),
                    url("./images/Hero\ image.jpg") no-repeat center;
        position:relative;
        background-size:cover;
    }
    #about{
        flex-direction:row;
        column-gap:5rem;
    }
    .about-content{
        row-gap:var(--padding-1000);
        order:1;
    }
    .about-cta{
        width:26.3rem;
    }
    .about-img{
        order:2;
    }
    .about-img, .about-content{
        min-height:45rem;
        flex:1;
    }
    .about-img img{
        height:100%;
    }
    .testimony-container .carousel{
        width:100%;
        padding:0 8rem;
    }
    .testimony-card{
        width:79.2rem;
        height:56rem;
        flex-direction:row;
    }
    .testimony-content{
        order:1;
        flex:1;
        height:100%;
        padding:0 2.4rem;
        justify-content:center;
    }
    .testimony-content,
    .testimony-img{
        margin-top:0;
    }
    .testimony-img{
        order:2;
        flex:1;
        height:100%;
    }
    .testimony-img img{
        border-radius:0;
    }
    .carousel-inner{
        z-index:1;
    }
    .carousel-control-prev span{
        margin-right:8rem;
    }
    .carousel-control-next span{
        margin-left:8rem;
    }
    .arrows{
        border:1px solid black;
        justify-content:flex-start;
    }
    .arrows > span{ 
        color:var(--color-primary);
        font-size:var(--padding-1000);
        font-family:var(--font-family-k);
    }
    #gallery{
        padding-left:0;
        padding-right:0;
        flex-direction:row;
        column-gap:0.8rem;
        min-height:100vh;
    }
    .flex-item-1{
        order:1;
        width:34.2rem;
    }
    .flex-item-1 > div{
        width:100%;
    }
    .img-1, .img8{
        height:42.5rem;
    }
    .img5{
        height:34.2rem;
    }
    .img7{
        height:31.5rem;
    }
    .flex-item-2{
        order:2;
        flex:2;
        flex-direction:row;
        gap:0.8rem;
        flex-wrap:wrap;
    }
    .flex-item-2 .gallery-img{
        width:49.35%;
    }
    .img2{
        height:39.8rem;
    }
    .img3{
        height:42.8rem;
    }
    .img4{
        margin-top:-3rem;
        height:39.7rem;
    }
    .img5{
        height:35.3rem;
    }
    .flex-item-3{
        order:3;
        width:34.2rem;
    }
    .img9{
        height:30.9rem;
    }
    .img10{
        height:36.15rem;
    }
    #contact{
        display:grid;
        place-items:center;
    }
    .contact-container{
        width:58.9rem;
        row-gap:4rem;
    }
    .contact-paragraph{
        row-gap:2.4rem;
    }
    .contact-btn{
        width:32.8rem;
    }
}